html {
    font-size: 20px;
    color: aliceblue;
    background-color: rgb(200,60,120);
}


h1 {
    cursor: default;
    font-size: 50px;
    color: aliceblue;
}

h2 {
    cursor: default;
}

.tableCenter {
    margin-left: auto;
    margin-right: auto;
    
    border-color: white;
    border: 4px solid;;
}

.divCenter {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.defaultPointer {
    cursor: default;
}

.header {
    text-align: center;
}

input {
    font-size: 20px;
    background-color: white;
    
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#tictactoe {
    color: white;
}